* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

/*********************
Header Aread Starts
*********************/

.mobile-app-banner {
    background-image: url(banner.jpg);    
    background-size: cover;
    background-position: center;
    height: 800px;
    background-repeat: no-repeat;
}

.mobile-app-banner-content {
    color: white;
    margin-top: 200px;
}

.mobile-app-banner-content h1 {
    font-size: 56px;
    color: white;
    font-weight: 600;
}

.mobile-app-banner-content p {
    font-size: 18px;
    color: white;
    line-height: 40px;
    margin: 30px 0px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1,42;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-image: 4px;
}

.buttons .btn {
    padding: 18px 40px;
    margin-bottom: 20px;
    margin-right: 13px;
}

.btn-pink, .btn-blue {
    background-color: #fb527a;
    color: white;
    font-weight: 600 !important;    
    margin-right: 10px;
    font-size: 14px;
}

.feature-text {
    padding: 50px;
    border: 2px solid #ddd;
    background: white;
    border-radius: 6px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
}

.feature-text h4 {
    margin: 40px 0px;
}

.feature-text:hover {
    border-top: 6px solid #fb5a7a;
    padding-top: 45px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

    .img-hover1 {
        background: url(img/girl-hover2.png);
        height: 60px;
        background-repeat: no-repeat;
        background-position: 50%;
        margin: 43px;
    }

    .img-hover2 {
        background: url(img/hand-hover.png);
        height: 60px;
        background-repeat: no-repeat;
        background-position: 50%;
        margin: 43px;
    }

    .img-hover3 {
        background: url(img/desktop-hover.png);
        height: 60px;
        background-repeat: no-repeat;
        background-position: 50%;
        margin: 43px;
    }

    .img-hover4 {
        background: url(img/girl-hover2.png);
        height: 60px;
        background-repeat: no-repeat;
        background-position: 50%;
        margin: 43px;
    }

    .img-hover5 {
        background: url(img/mobile-lock-hover.png);
        height: 60px;
        background-repeat: no-repeat;
        background-position: 50%;
        margin: 43px;
    }

    .img-hover6 {
        background: url(img/pin-map-hover.png);
        height: 60px;
        background-repeat: no-repeat;
        background-position: 50%;
        margin: 43px;
    }

    .img-hover7 {
        background: url(img/person-hover5.png);
        height: 60px;
        background-repeat: no-repeat;
        background-position: 50%;
        margin: 43px;
    }

    .img-hover8 {
        background: url(img/mobile1-hover.png);
        height: 60px;
        background-repeat: no-repeat;
        background-position: 50%;
        margin: 43px;
    }
